html, body {
	height: 100%;
}

body {
	font: 18px 'Segoe UI', sans-serif;
	line-height: 1;
	background: #E2E7EC url('background.png');
	margin: 0;
}

abbr {
	border-bottom: 1px dotted #000000;
	cursor: help;
	display: inline-block;
	line-height: 1;
}

.frame {
	height: 100%;
	margin: auto;
	padding: 0 20px;
	position: relative;
	width: 460px;
}

.frame-content {
	padding-top: 1px;
	position: relative;
}

.logo {
	background: url('logo.png');
	height: 105px;
	left: -133px;
	margin: 45px 0 35px;
	margin-left: 50%;
	overflow: hidden;
	position: relative;
	text-indent: -999em;
	width: 267px;
}

/** @section Preview */

.preview {
	height: 100%;
	left: 10%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 80%;
}

.preview-content {
	height: 100%;
	position: relative;
}

.preview-col {
	background: #FFFFFF;
	display: inline;
	float: left;
	filter: alpha(opacity = 40);
	height: 100%;
	opacity: 0.4;
	position: relative;;
}

.preview-col_alternative {
	filter: alpha(opacity = 60);
	opacity: 0.6;
}

/** @section Form */

.form {
	-moz-border-radius: 20px;
	-moz-box-shadow: #C6C6C6 2px 2px 2px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: #C6C6C6 2px 2px 2px;
	overflow: hidden;
	padding: 30px;
}

.form-left {
	float: left;
	width: 53%;
	margin-right: 3%;
}

.form-right {
	overflow: hidden;
}

.form-line {
	margin-top: 25px;
	position: relative;
}

.form-line:first-child {
	margin-top: 0;
}

.form-label {
	display: inline-block;
	width: 70%;
}

.form-inputWrap {
	display: inline-block;
	position: relative;
	width: 25%;
}

.form-input {
	-moz-border-radius: 5px;
	-moz-box-shadow: #D6D6D6 1px 1px 2px inset;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	border: 1px solid;
	border-color: #BFBFBF #CCCCCC #D7D7D7 #CCCCCC;
	border-radius: 5px;
	box-shadow: #D6D6D6 1px 1px 2px inset;
	box-sizing: border-box;
	font-size: 100%;
	padding: 5px;
	width: 100%;
}

.form-hint {
	color: #264355;
	font-size: 0.6em;
	left: 0;
	margin-top: 3px;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 100%;
}

.form-button {
	-moz-box-shadow: #C6C6C6 1px 1px 2px, #FFFFFF 1px 1px 2px inset;
	-moz-border-radius: 3px;
	-webkit-box-shadow: #C6C6C6 1px 1px 2px, #FFFFFF 1px 1px 2px inset;
	-webkit-border-radius: 3px;
	background: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DCDCDC));
	background: -moz-linear-gradient(top, #F5F5F5, #DCDCDC);
	background: -o-linear-gradient(top, #F5F5F5, #DCDCDC);
	background: linear-gradient(top, #F5F5F5, #DCDCDC);
	border: 1px solid;
	border-color: #E5E5E5 #CDCDCD #ACACAC #CDCDCD;
	border-radius: 3px;
	box-shadow: #C6C6C6 1px 1px 2px, #FFFFFF 1px 1px 2px inset;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	height: 22px;
	line-height: 22px;
	padding: 6px 15px;
	position: relative;
	text-decoration: none;
}

.form-button:hover {
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0));
	background: -moz-linear-gradient(top, #FFFFFF, #E0E0E0);
	background: -o-linear-gradient(top, #FFFFFF, #E0E0E0);
	background: linear-gradient(top, #FFFFFF, #E0E0E0);
}

.form-button:active {
	-moz-box-shadow: #FFFFFF 1px 1px 2px inset;
	-webkit-box-shadow: #FFFFFF 1px 1px 2px inset;
	box-shadow: #FFFFFF 1px 1px 2px inset;
	left: 1px;
	top: 1px;
}